.filters__container {
  margin: 0;
  padding: 0;
  list-style: none;
  right: 0;
  left: 0;

  @media (max-width: 430px) {
    bottom: 10px;
  }

  li {
    display: inline;
    cursor: default;

    button {
      display: inline-block;
      color: inherit;
      margin: 3px;
      padding: 3px 7px;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 3px;

      &:not(.filter_selected) {
        cursor: pointer;
      }

      .filter_selected {
        border-color: rgba(175, 47, 47, 0.2);
      }
    }

    &:hover button {
      border-color: rgba(175, 47, 47, 0.1);
    }

  }
}

